/*
    # This is the custom 3D Sprint's stylesheet
    -------------------------------------------
*/

.logo-login {
    width: 55px;
    height: 55px;
}

.heading-title {
    padding-top: 6px;
    padding-bottom: 6px;
}

.actions {
    min-width: 96px;
}

.list-name {
    min-width: 150px;
}

.show-actions-btn {
    padding: 20px;
}

.sidebar-profile-item {
    padding: 5px 0;
}

.breadcrumb > li a {
    text-decoration: none;
}

.user-system-errors {
    list-style: none;
    list-style-type: none;
}

@media (max-width:480px) {
    .breadcrumb {
        font-size: 11px;
    }
}

.user-image {
    width: 25px;
    height: 25px;
}

.admin-image {
    width: 40px;
    height: 40px;
}