/*
    # This is the custom 3D Sprint's stylesheet
    -------------------------------------------
*/

.logo-login {
    width: 55px;
    height: 55px;
}

.logo-navbar {
    height: 25px;
}

.heading-title {
    padding-top: 6px;
    padding-bottom: 6px;
}

.actions {
    min-width: 120px;
}

.list-name {
    min-width: 150px;
}

.show-actions-btn {
    padding: 20px;
}

.sidebar-profile-item {
    padding: 5px 0;
}

.breadcrumb>li a {
    text-decoration: none;
}

h5 a.admin-dashboard-link {
    text-decoration: none;
}

.user-system-errors {
    list-style: none;
    list-style-type: none;
}

.user-image {
    width: 25px;
    height: 25px;
}

.admin-image {
    width: 30px;
    height: 30px;
}

.username {
    margin-top: 0px;
}

.place {
    margin-bottom: -10px;
}

.project-title {
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 16px;
}

.actions-show-project-web {
    display: block !important;
}

.actions-show-project-mobile {
    display: none !important;
}

.modal-select {
    width: 100% !important;
}

.modal-select-hidden {
    display: none !important;
}

.btn-new-task {
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    .breadcrumb {
        font-size: 8.5px;
    }
    .app-title {
        font-size: 30px;
    }
    .date-font-size {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 680px) {
    .actions-show-project-web {
        display: none !important;
    }
    .actions-show-project-mobile {
        display: block !important;
    }
}